@import "../../_globalColor";

.achievement-main-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
}

.achievement-header {
  margin-bottom: 40px;
}

.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.achievement-subtitle {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.achievement-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  margin-top: 20px;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }

  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .achievement-cards-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.subTitle {
  color: $subTitle;
}

#achievements {
  position: relative;
  padding: 20px;
  width: 100%;
  min-height: 100px;
  
  @media (max-width: 768px) {
    padding: 10px;
  }
}

.main {
  width: 100%;
  
  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}

.achievement-card-container {
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}
